<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-5 mx-auto">
        <h3><%= listing.title %></h3>

        <div class="listing-card">
            <img src="<%= listing.image.url %>"
                 class="card-img-top show-img"
                 alt="listing_image">

            <div class="card-body">
                <p class="card-text">
                    Owner:
                    <i><%= listing.owner?.username || "Unknown Host" %></i>
                </p>

                <p class="card-text">
                    <%= listing.description %>
                </p>

                <p class="card-text">
                    &#8377; <%= listing.price.toLocaleString("en-IN") %>
                </p>

                <p class="card-text">
                    <%= listing.location %>
                </p>

                <p class="card-text">
                    <%= listing.country %>
                </p>
            </div>
        </div>

        <br>

        <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
            <div class="btns">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">
                    Edit
                </a>

                <form action="/listings/<%= listing._id %>?_method=DELETE"
                      method="POST"
                      class="d-inline">
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        
<% }  %>
    </div>
</div>

<!-- Review Form -->

<div class="row mt-5">
    <div class="col-md-5 mx-auto">

        <hr>
        
<% if (currUser) { %>
        <h4>Leave a Review</h4>

        <form action="/listings/<%= listing._id %>/reviews"
              method="POST"
              novalidate
              class="needs-validation">

            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">
                    Rating:
                </label>

                <input type="range"
                       id="rating"
                       name="review[rating]"
                       min="1"
                       max="5"
                       class="form-range"
                       required>

                <div class="invalid-feedback">
                    Please provide a valid rating.
                </div>
            </div>

            <div class="mb-3">
                <label for="comment" class="form-label">
                    Comments:
                </label>

                <textarea
                    id="comment"
                    name="review[comment]"
                    class="form-control"
                    rows="4"
                    required></textarea>

                <div class="invalid-feedback">
                    Please provide a valid comment.
                </div>
            </div>

            <button type="submit" class="btn btn-outline-dark">
                Submit Review
            </button>
        </form>
          <hr>
<% } %>
      
        <p><b>All Reviews</b></p>

        <div class="row g-3">
            <% for(let review of listing.reviews) { %>

                <div class="col-md-6 col-12">
                    <div class="card h-100">

                        <div class="card-body">
                            <h5 class="card-title">
                                <%= review.author?.username || "Anonymous" %>
                            </h5>

                            <p class="card-text">
                                <%= review.comment %>
                            </p>

                            <p>
                                Rating: <%= review.rating %>/5
                            </p>
                        </div>

                        <form
                            class="mb-3 ms-3"
                            method="POST"
                            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">

                            <button
                                type="submit"
                                class="btn btn-sm btn-dark">
                                Delete
                            </button>

                        </form>

                    </div>
                </div>

            <% } %>
        </div>

    </div>
</div>